
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color : white;

  
}

body{
  background-color : black;
   background-color : rgb(255,255,240,);

height : 100%;
/*   background-image: linear-gradient(to right,#41b3a3, #e27d60); */
}
html {
  font-size: 62.5%;
  font-family: "Courier New", monospace;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header{
  border-bottom: 1px solid #E2E8F0;
  transition : 1s;
}

.header:hover{
  background-color : rgb(0,0,0,0.7);
    border-bottom: 1px solid green;
}

.navbar {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  transition : 2s;
}




.drop {
  display: none;
}


.options {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
   align-items: center;
}

.nav-menu {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
   line-height: 45px;
}

.nav-item {
  font-family: "Courier New", monospace;
  margin : 0px 15px;
   align-items: center;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
 
}

.nav-link:hover{
  color: white;
  text-decoration : underline;
}

.nav-logo {
  font-size: 2.1rem;
  
 
}

.home-container{
    

/*  background: rgb(0,0,0,0.1); */
/*  box-shadow: 0 0 0 3px silver, 1em 1em 3px 0 rgb(0 0 0 / 50%); */
  display : flex;
  flex-direction : row;
/*   margin : 5% 10% ; */
/*   border: 6px double #fff; */
/*   margin: 2em 10em; */
  flex-wrap : wrap;
  padding : 4% 10%;
  height : auto;
  width : auto;
}

.left{
  max-width : 500px;
  height : auto;
  padding : 2%; 
   flex-grow : 1;
  

}

.right{
  text-align : center;
  align-items : center;
  height : auto;
  width : auto;
  flex-grow : 1;
/*   padding : 2%; */

}


h1{
  text-align : center;
}

#play-ground{
  font-size : 23px;
}

.left-side-heading{
  text-align : left;
  font-size : 29px;
}

.space-checkout{
  resize : none;
  outline : none;
  height : 100%;
  min-width : 250px;
  width : 100%;
  padding : 2%;
  min-height : 185px;
  background-color : black;
/*   border-radius: 0px 0px 20px 0px; */
/*   scrollbar-width : thin; */
}

#editor{
  padding : 20px;
/*   width : 100%; */
/*   height : 100%; */
  flex-grow : 1;
}

#para-first{
  font-size : 18px;
}

#logo-area{
  display : flex;
  flex-wrap : wrap;
  align-items : flex-start;
/*   background: #3465a4; */
  padding : 2%;
  border: solid 1px;
  font-family: "Courier New", monospace;
  transition : 2s; 
}

#logo-area:hover{
  letter-spacing : 2em;
  cursor: pointer;
  box-shadow: 0px 0px;
  border : solid 1px green;
     
}

#space{
  
/*   padding-left : 7%; */
  text-align : center;
/*   align-items : center; */
/*   height : 100%; */
  flex-grow : 1;
  font-size : 30px;
/*   letter-spacing: 1.5em; */
  color : white;
  text-shadow: 3px 3px black;
  
}


#footer {
/*    position: fixed; */
/*    left: 0; */
/*    bottom: 0; */
   padding : 0% 5%; 
   display: flex;
   flex-wrap : wrap;
   justify-content : space-between;
   width: 100%;
   background-color: #0d3345;
   color: white;
   text-align: center;
   min-height : 250px;
   align-items : center;
}

#null-logo{
  min-width : 150px; 
  min-height : 150px;
  padding-top : 50px;
}

#null-img{
  cursor : pointer;
}

#gh-logo{

  align-items  : center;
  min-width : 150px;
  min-height : 150px; 
   padding-top : 50px;
   
}

#gh-img{
  border-radius : 50%;
  cursor : pointer;
}

#display-btn-area{
  display: flex;
  flex-direction: column;
  padding : 2% 0%;
}

#op-box{
  flex-grow : 1;
  background-color : black;
  color : white;
}
#run{
  background-color : black;
  border: solid 1px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

#run:hover{
  background-color : green;
  border : solid 1px green;
}

#op-display{
  flex-grow : 1;
}

#op-box{
  width : 100%;
  outline : none;
  resize : none;
  padding : 6px;
  font-size : 17px;
/*   color : blueviolet;  */
  border : solid 0.01px  #7b9cfa; 
}





#sub-menu{
  padding : 0% 10%;
  display : flex;
  flex-direction : row;
  justify-content : space-around;
  font-size : 19px;
 
}

.option:hover{
  cursor : pointer;
  border-bottom : solid 1px green;
  
}

#info-space{
  font-size : 15px;
  padding : 2% 13%;
  margin-top : 13px;
  margin-bottom: 11px;
}

#space-portion{
   background-color : rgb(255,255,255,0.1);
   padding-top : 15px;
}




#null-area{
  display : grid;
  grid-template-columns : 20% auto ;
  align-items : center;
  padding : 2% 14%;
}


.null-desp{
  font-size : 15px;

}

.title-null{
  padding : 0px 5px;
  font-size : 19px;
}

#null-area2{
   background-color : rgb(255,255,255,0.1);
  display : grid;
  grid-template-columns : 20% auto ;
  align-items : center;
  padding : 2% 13%;
}

#Space-option2{
   white-space: pre;
}




@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);

          
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .drop {
      display: block;
      cursor: pointer;
  }


  .right {
  text-align : center;
  align-items : center;
  flex-grow : 1;
  margin-top : 7%;
  padding : 2%;

  }

  #null-area{
  display : flex;
  flex-direction : column;

  align-items : center;
  padding : 3% 14%;
  }

   #null-area2{
  display : flex;
  flex-direction : column;
  background-color: rgb(255,255,255,0.1);
  align-items : center;
  padding : 3% 14%;
  }

  
  .null-desp{
  font-size : 14px;

}

.title-null{
  padding-bottom : 5%;
  font-size : 18px;
}

#reason-null{
  margin : 11px 0px;
}

#gh-logo{

  align-items  : center;
  min-width : 150px;
  min-height : 150px; 
   padding-top : 50px;
   margin-left : 30%; 
}

}



 ::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 1px;
  }

::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 1px;
  }

::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
  }

  /* canvas */

  canvas {
  
    height : 50%;
    width : 100%;
    background-color: black;
  }



/* text animation */

.wordCarousel {
  font-size: 36px;
  font-weight: 100;
  color: #eee;
  
}
.wordCarousel>div{
  
      overflow: hidden;
      position: relative;
      float: left;
      height: 65px;
      padding-top: 10px;
      margin-top: 150px;
     
  }
.display-code{
          font-family: Serif;
          color: #eee;
/*           font-weight: 700; */
          padding: 0 10px;
          height: 45px;
          margin-bottom: 45px;
          display: block;
      }

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
  0% { margin-top: -180px; }
  5% { margin-top: -90px;  }
  50% { margin-top: -90px; }
  55% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}

@keyframes flip3 {
  0% { margin-top: -270px; }
  5% { margin-top: -180px; }
  33% { margin-top: -180px; }
  38% { margin-top: -90px; }
  66% { margin-top: -90px; }
  71% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}

@keyframes flip4 {
  0% { margin-top: -360px; }
  5% { margin-top: -270px; }
  25% { margin-top: -270px; }
  30% { margin-top: -180px; }
  50% { margin-top: -180px; }
  55% { margin-top: -90px; }
  75% { margin-top: -90px; }
  80% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}








section{
	font-size:3rem;
	position:relative;
	height:100vh;
	
}
#section-h1{
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%);
  letter-spacing: 0.5em;
}



section:nth-child(odd){

	color:white;
	  background-color: #b61924;

}












